<div class="row">
<div class="col-12 col-md-12">
    <nav>
<div class="nav nav-tabs" id="nav-tab" role="tablist">
<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Student</a>
<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Professor</a>
<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Financer</a>
</div>
</nav>
<div class="tab-content mt-3" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
<form>
                <div class="input-group mb-3">
<input type="text" class="form-control" placeholder="Search any thing" aria-label="Search any thing" aria-describedby="basic-addon2">
<div class="input-group-append">
<span class="input-group-text" id="basic-addon2"><i class="fa fa-search fa-fw"></i> </span>
</div>
</div>
                
            </form>
</div>
<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
<form>
                <div class="input-group mb-3">
<input type="text" class="form-control" placeholder="Search any thing" aria-label="Search any thing" aria-describedby="basic-addon2">
<div class="input-group-append">
<span class="input-group-text" id="basic-addon2"><i class="fa fa-search fa-fw"></i> </span>
</div>
</div>
                
            </form>
</div>
<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
<form>
                <div class="input-group mb-3">
<input type="text" class="form-control" placeholder="Search any thing" aria-label="Search any thing" aria-describedby="basic-addon2">
<div class="input-group-append">
<span class="input-group-text" id="basic-addon2"><i class="fa fa-search fa-fw"></i> </span>
</div>
</div>
                
            </form>
</div>
</div>
</div>
</div>