
.profile {
    display: flex; }
    .profile img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px; }
    .profile p {
      margin-bottom: 0;
      line-height: 14px;
      font-size: 12px; }
      .profile p span {
        font-size: 10px; }
  
  .bg1 {
    background: #7200ca !important; }
  
  .bg2 {
    background: #8e0038 !important; }
  
  .bg3 {
    background: #0a00b6 !important; }
  
  .bg4 {
    background: #a30000  !important; }
  
  .bg5 {
    background: #34515e !important; }
  
  .bg6 {
    background: #5e4530 !important; }
  
  .bg7 {
    background: #5c5e0a !important; }
  
  .leful {
    margin: 0;
    padding: 0; }
    .leful li {
      list-style: none;
      margin: 5px 0; }
      .leful li a {
        font-size: 12px;
        font-weight: 700;
        color: #000; }
        .leful li a i {
          background: #0077B8;
          margin-right: 7px;
          padding: 10px;
          border-radius: 50%;
          color: #fff; }
  
  .accor {
    padding: 0; }
    .accor .card {
      border-radius: 0;
      border: 0;
      border-top: 1px #f0f0f0 solid; }
    .accor .card-header {
      padding: 0;
      background: transparent;
      border-radius: 0;
      border: 0; }
      .accor .card-header button {
        margin-left: 5px;
        line-height: 20px;
        color: #000;
        font-weight: 400;
        font-size: 13px; }
        .accor .card-header button i {
          line-height: 20px;
          font-size: 23px;
          margin-right: 15px; }
  
  .home .bodyh {
    background: #f0f0f0; }
    .home .bodyh .top_block {
      background: #fff;
      border-radius: 0 0 0 25px; }
      .home .bodyh .top_block .hom_ico {
        text-align: center;
        margin: 0; }
        .home .bodyh .top_block .hom_ico img {
          border-radius: 50%;
          position: relative;
          top: -8px;
          left: -3px; }
        .home .bodyh .top_block .hom_ico li {
          list-style: none;
          display: inline-block;
          text-align: center;
          width: 12%;
          margin: 15px 0; }
          .home .bodyh .top_block .hom_ico li a i {
            font-size: 30px;
            font-weight: 400; }
    .home .bodyh .trend h6 {
      font-size: 15px;
      margin: 0; }
    .home .bodyh .trend .nlist li {
      background: transparent;
      padding: 0;
      border: 0;
      font-size: 13px;
      margin-bottom: 10px; }
      .home .bodyh .trend .nlist li a {
        font-size: 12px;
        color: #000; }
  
  .main-chat {
    background: #fff;
    border-radius: 15px 0px 0 0px; }
    .main-chat h5 {
      font-size: 12px;
      text-transform: uppercase;
      margin-left: 10px; }
    .main-chat .chat-box {
      padding: 10px;
      margin: 0; }
      .main-chat .chat-box li {
        list-style: none;
        margin-bottom: 10px; }
        .main-chat .chat-box li a {
          color: #000;
          font-size: 13px; }
          .main-chat .chat-box li a i {
            line-height: 30px; }
          .main-chat .chat-box li a img {
            width: 30px;
            border-radius: 50%;
            margin-right: 10px; }
  
  .cbg {
    color: green !important; }
  
  .wbg {
    color: white !important;
    display: none; }
  
  .vbox {
    background: #fff;
    border-radius: 5px; }
    .vbox .vhead {
      border-bottom: 1px #f0f0f0 solid; }
      .vbox .vhead p {
        margin: 0;
        font-size: 14px;
        line-height: 30px; }
      .vbox .vhead i {
        background: red;
        color: #fff;
        padding: 6px;
        border-radius: 50%; }
    .vbox .vdesc .vid_status {
      margin: 0;
      padding: 10px; }
      .vbox .vdesc .vid_status li {
        list-style: none;
        display: inline-flex;
        margin-bottom: 10px; }
        .vbox .vdesc .vid_status li .vid_img {
          margin-right: 10px; }
        .vbox .vdesc .vid_status li .vid_title {
          margin: 0;
          font-size: 13px; }
  
  .bround {
    border-radius: 5px; }
  
  .postbox {
    background: #fff;
    padding: 5px 5px; }
    .postbox .phead textarea {
      border: 0; }
    .postbox .pfooter {
      padding-top: 5px; }
      .postbox .pfooter .btn {
        font-size: 12px;
        border-radius: 25px; }
      .postbox .pfooter .btn-default {
        border: 1px #b7b1b1 solid; }
  